In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Import and read app data
I have imported the given dataset into a folder called dataset.
<br>

In [2]:
def read_app_data():
    application_record=pd.read_csv(r'C:\Users\anusha\Desktop\dataset\application_record.csv')
    return application_record
application_record=read_app_data()

## Import and read credit_record data

In [3]:
credit_record=pd.read_csv(r'C:\Users\anusha\Desktop\dataset\credit_record.csv')

## Feature Creation

In [4]:
#dropping ID
#dropping Flag Mobil as the entire column has the same values

def feature_creation():
    application_record.drop(['ID','FLAG_MOBIL'],axis=1,inplace=True)
    features=application_record.columns
    return features

features=feature_creation()

In [5]:
features1=['CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','OCCUPATION_TYPE']
import sklearn
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for a in features1:
    application_record[a] = le.fit_transform(application_record[a].astype(str))

In [6]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
application_record= pd.get_dummies(data=application_record,columns=['NAME_INCOME_TYPE','NAME_EDUCATION_TYPE','NAME_FAMILY_STATUS','NAME_HOUSING_TYPE'])


print(application_record)

        CODE_GENDER  FLAG_OWN_CAR  FLAG_OWN_REALTY  CNT_CHILDREN  \
0                 1             1                1             0
1                 1             1                1             0
2                 1             1                1             0
3                 0             0                1             0
4                 0             0                1             0
...             ...           ...              ...           ...
438552            1             0                1             0
438553            0             0                0             0
438554            0             0                0             0
438555            0             0                1             0
438556            0             0                1             0

        AMT_INCOME_TOTAL  DAYS_BIRTH  DAYS_EMPLOYED  FLAG_WORK_PHONE  \
0               427500.0      -12005          -4542                1
1               427500.0      -12005          -4542                1
2               112500.0      -21474          -1134                0
3               270000.0      -19110          -3051                0
4               270000.0      -19110          -3051                0
...                  ...         ...            ...              ...
438552          135000.0      -22717         365243                0
438553          103500.0      -15939          -3007                0
438554           54000.0       -8169           -372                1
438555           72000.0      -21673         365243                0
438556          121500.0      -18858          -1201                0

        FLAG_PHONE  FLAG_EMAIL  ...  NAME_FAMILY_STATUS_Married  \
0                0           0  ...                           0
1                0           0  ...                           0
2                0           0  ...                           1
3                1           1  ...                           0
4                1           1  ...                           0
...            ...         ...  ...                         ...
438552           0           0  ...                           0
438553           0           0  ...                           0
438554           0           0  ...                           0
438555           0           0  ...                           1
438556           1           0  ...                           1

        NAME_FAMILY_STATUS_Separated  NAME_FAMILY_STATUS_Single / not married  \
0                                  0                                        0
1                                  0                                        0
2                                  0                                        0
3                                  0                                        1
4                                  0                                        1
...                              ...                                      ...
438552                             1                                        0
438553                             0                                        1
438554                             0                                        1
438555                             0                                        0
438556                             0                                        0

        NAME_FAMILY_STATUS_Widow  NAME_HOUSING_TYPE_Co-op apartment  \
0                              0                                  0
1                              0                                  0
2                              0                                  0
3                              0                                  0
4                              0                                  0
...                          ...                                ...
438552                         0                                  0
438553                         0                                  0
438554                         0                                  0
438555                         0                                  0
438556                         0                                  0

        NAME_HOUSING_TYPE_House / apartment  \
0                                         0
1                                         0
2                                         1
3                                         1
4                                         1
...                                     ...
438552                                    1
438553                                    1
438554                                    0
438555                                    1
438556                                    1

        NAME_HOUSING_TYPE_Municipal apartment  \
0                                           0
1                                           0
2                                           0
3                                           0
4                                           0
...                                       ...
438552                                      0
438553                                      0
438554                                      0
438555                                      0
438556                                      0

        NAME_HOUSING_TYPE_Office apartment  \
0                                        0
1                                        0
2                                        0
3                                        0
4                                        0
...                                    ...
438552                                   0
438553                                   0
438554                                   0
438555                                   0
438556                                   0

        NAME_HOUSING_TYPE_Rented apartment  NAME_HOUSING_TYPE_With parents
0                                        1                               0
1                                        1                               0
2                                        0                               0
3                                        0                               0
4                                        0                               0
...                                    ...                             ...
438552                                   0                               0
438553                                   0                               0
438554                                   0                               1
438555                                   0                               0
438556                                   0                               0

[438557 rows x 33 columns]